.container {
    width: 100%;
    border: 1px solid none;
    margin: 0 auto;
    .header {
        width: 100%;
        height: 753px;
        border: 1px solid none;
        .header-nav {
            width: 100%;
            height: 75px;
            border: 1px solid none;
            background-color: #FFF;

            .header-nav_item {
                display: flex;
                height: 100%;

                .header-nav_item-right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10%;
                    height: 100%;
                    border: 1px solid none;
                    margin-left: 120px;

                    .header-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .header-btn button {
                        width: 53px;
                        height: 35px;
                        border-radius: 3px;
                        background: #FED036;
                        color: #3E3E3E;
                        text-align: center;
                        font-family: Proxima Nova;
                        font-size: 20px;
                        font-weight: 700;
                        border: none;
                    }

                    .header-btn2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .header-btn2 button {
                        width: 78px;
                        height: 35px;
                        border-radius: 3px;
                        background: #3E3E3E;
                        color: #FFF;
                        text-align: center;
                        font-family: Proxima Nova;
                        font-size: 20px;
                        font-weight: 700;
                        border: none;
                    }
                }

                .header-nav_item-center {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 37%;
                    height: 100%;
                    border: 1px solid none;
                    list-style: none;
                    margin-left: 20px;

                    a {
                        color: #3E3E3E;
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    i {
                        padding: 0 15px 0 0;
                    }
                }

                .header-nav_item-left {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 34%;
                    height: 100%;
                    border: 1px solid none;
                    list-style: none;
                    margin-left: 30px;

                    a {
                        color: #3E3E3E;
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    i {
                        padding: 0 10px 0 0;
                    }

                    .spn {
                        color: #3E3E3E;
                        text-align: right;
                        font-family: Gilroy;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                    }

                    a span {
                        color: #FED036;
                        font-family: Gilroy;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                    }
                }

                .header-nav_item-left2 {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:840px) {
    .container {
        width: 100%;
        .header {
            width: 100%;
            height: 600px;
            border: 1px solid none;
            .header-nav {
                width: 100%;
                height: 45px;

                .header-nav_item {
                    display: flex;
                    align-items: center;
                    height: 100%;

                    .header-nav_item-right {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 20%;
                        height: 90%;
                        border: 1px solid none;
                        margin-left: 40px;

                        .header-btn button {
                            width: 37.1px;
                            height: 25px;
                            color: #3E3E3E;
                            text-align: center;
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-weight: 700;

                        }

                        .header-btn2 button {
                            width: 50px;
                            height: 25px;
                            color: #FFF;
                            text-align: center;
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-weight: 700;

                        }
                    }

                    .header-nav_item-center {
                        display: none;
                    }

                    .header-nav_item-left {
                        display: none;
                    }

                    .header-nav_item-left2 {
                        display: block;
                    }
                }

                .header-nav_item-left2 {
                    display: flex;
                    border: 1px solid none;
                    width: 75%;
                    margin-right: 40px;
                }

                .fa-solid {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }

            }

        }
    }
}

@media screen and (max-width:400px) {
    .container {
        .header {
            .header-nav {
                width: 100%;
                height: 35px;

                .header-nav_item {
                    .header-nav_item-right {
                        margin-left: 10px;

                        .header-btn button {
                            width: 32px;
                            height: 21px;
                            color: #3E3E3E;
                            font-size: 13px;
                            font-weight: 700;
                        }

                        .header-btn2 button {
                            width: 43px;
                            height: 21px;
                            color: #FFF;
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }

                    .header-nav_item-left2 {
                        width: 78%;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}